body{
    background-color: #562CAE;
    font-family: Arial;
    color: white;
}

.main-header{
    width: 120px;
    margin: 0 auto;
    margin-top: 152px;
}

.output-box{
    width: 246px;
    height: 100px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minmax-flex-container{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    width: 245px;
    height: 150px;
    justify-content: space-between;
    text-align: center;
}

#min-in,
#max-in{
    width: 115px;
    height: 27px;
    background-color: #3E7C66;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-width:0px;
    border:none;
    text-align: center;
    color: white
}

#output{
    color: black;
}

.go{
    display: block;
    margin: 0 auto;
    width: 245px;
    height: 37px;
    background: #E1643D;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 151.49%;
    border: 0;
    color: white;
    cursor: pointer;
}

.container{
    margin: 0 auto;
}

.foot{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 180px;
    text-align: center;
    
}